<p>Don Yuen	
43-57 Union st, APT 4C,
Flushing NY, 11355
(929) 299-9020
donyuen231@gmail.com
SKILLS
Fluent in Mandarin and Cantonese
Fast learner
Attentive to details
Excellent interpersonal communication
Excellent at diffusing client escalations 
Proficient in Microsoft Word, Excel and PowerPoint
EXPERIENCE
Bestbuy, New York, NY
August 2019 - Present - Consultation Agent - Geek Squad
Working efficiently as a team to resolve client concerns
Verifying client information and service orders to ensure work being done is accurate
Ensuring both client and technician concur on scope of work to be completed
Ensuring clear written communication to facilitate accurate and swift service
July 2018 - August 2019 - Sales Associate - Computers
Niou Yu-Lin For State Assembly campaign, New York, NY
July 2016 - September 2016 - Intern
December 2015 - April 2016 - Volunteer
Canvassed by going door-to-door and speaking with residents
Researched and collected canvassing data and entered it in the database
EDUCATION
Queensborough community college, Queens, NY
September 2021 - Present - Undergraduate
Majoring in Computer Engineering Technology AAS
Cumulative GPA of 3.3
Cooper Union Summer STEM Program, New York, NY
July 2016 - August 2016
Attended lectures and learned about public speaking, time management and other related topics
</p>
